/* Global styles */
html{
  box-sizing: border-box;
}
*, *:before, *:after{
  box-sizing: inherit
}
body{
  color: #343434;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size:16px;
  line-height: 1.5;
}
.content-wrap{
  max-width: 900px;
  width: 85%;
  margin: 0 auto;
  padding: 20px 0;
}
img{
  max-width:100%;
  height: auto
}
a{
  color: #FFE66D;
}
a:hover{
  text-decoration: none;
}
h1,h2{
  font-family: 'Caveat', cursive;
  margin: 0;
  font-size: 45px
}
h3{
  margin-bottom: 0;
}
.item-details h3 + p{
  font-style: italic;
}
.item-details h3~p{
  margin: 0;
}
.divider > section{
  border-bottom: 1px #343434 dashed;
  padding: 25px 0;
}
.divider > section:last-of-type{
  border-bottom-style: none
}
/* header */
header{
  background:#2F3061;
  background-size: cover;
  color: #F7FFF7;
  text-align: center;
  position: fixed;
  width: 100%;
}
header .btn{
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
  text-decoration: none;
  padding: 8px;
  border-radius: 4px;
  display: inline-block;
  margin-bottom: 15px
}
header .btn:hover{
  background: #ffffffcc
}
/* Page title */
.page-title{
  background: #7476bd;
  text-align: center;
  padding-top: 150px;
}
.section1{
  background: #9acedf
}
.link_profile{
  color: #343434;
}
.section2{
  background: #7591cf;
}
/* Contact Info */
footer{
  background: #343434;
  color: #F7FFF7;
  padding-bottom: 25px;
  width: 100%;
}
.contact-list{
  list-style-type: none;
  padding: 0;
}
.banner{
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  background:rgb(231, 229, 92);
  color: rgb(0, 0, 0);
}

@media screen and (min-width:750px){
  footer{
    text-align: center
  }
  .contact-list{
    display: flex;
    justify-content: center;
  }
  .contact-list a{
  padding: 15px;
  display: inline-block;
  }
  section .btn{
  float: right;
  margin-top: 22px;
  margin-right: 15px;
  margin-left: 10px;
  }
  .section-title{
  text-align: left;
  display: inline;
  }
}

@media screen and (max-width:415px){
  footer{
    padding-bottom: 100px
  }